// Translations courtesy of Next_Star_Industries
Localization
{
  ja
  {
    // CONFIGS
    // MANUFACTURERS
    #LOC_CryoEngines_manufacturer_kadb_title = Kerbal オートマチックデザイン局

    // VARIANTS
    #LOC_CryoEngines_engine_switcher_mount_title = マウント
    #LOC_CryoEngines_engine_switcher_mount_variant1 = 0.625m
    #LOC_CryoEngines_engine_switcher_mount_variant2 = 1.25m
    #LOC_CryoEngines_engine_switcher_mount_variant3 = 2.5m
    #LOC_CryoEngines_engine_switcher_mount_variant4 = 3.75m
    #LOC_CryoEngines_engine_switcher_mount_variant5 = コンパクト
    #LOC_CryoEngines_engine_switcher_mount_variant6 = ボアテイル

    #LOC_CryoEngines_engine_switcher_Coat_Disabled = 無効
    #LOC_CryoEngines_engine_switcher_Coat_Enabled = 有効
    #LOC_CryoEngines_engine_switcher_Coat_Desc = ノズルライナー

    // PARTS
    #LOC_CryoEngines_cryoengine-125-1_title = KL-1 '火山の極低温ロケットエンジン
    #LOC_CryoEngines_cryoengine-125-1_description = 小型のフットプリントで高出力のサステイナエンジン。打ち上げやミッドエナジーステージのアプリケーションに適しています。
    #LOC_CryoEngines_cryoengine-125-1_tags = プロペラロケットは水素ハイドロリックスクライオを維持する
    #LOC_CryoEngines_cryoengine-125-2_title = CT10 'チェリャビンスク'極低温ロケットエンジン
    #LOC_CryoEngines_cryoengine-125-2_description = 液体水素と酸化剤を効率的に燃焼させる老朽化した上段エンジン。より良い積み込みのために、ノズルが作動すると伸びます。離陸にはあまり適していません。
    #LOC_CryoEngines_cryoengine-125-2_tags =  軌道推進ロケット真空水素ハイドロリックスクライオ
    #LOC_CryoEngines_cryoengine-25-1_title = KL-21 'オーディン'極低温ロケットエンジン
    #LOC_CryoEngines_cryoengine-25-1_description = 軽くバランスの取れたエンジンで、ややチェッカーを受けたサービス記録です。したがって、メーカーの割引。
    #LOC_CryoEngines_cryoengine-25-1_tags = プロペラロケットは水素ハイドロリックスクライオを維持する
    #LOC_CryoEngines_cryoengine-25-2_title = CT2X 'Tunguska'極低温ロケットエンジン
    #LOC_CryoEngines_cryoengine-25-2_description = 最後の「X」は、このエンジンが宣伝する「Xtra」の効率を指します。 KADBは、R＆Dに多くの資金を費やしていたので、私たちはそれを利用していると非常に興奮しています。
    #LOC_CryoEngines_cryoengine-25-2_tags = 軌道推進ロケット真空水素ハイドロリックスクライオ
    #LOC_CryoEngines_cryoengine-375-1_title = KL-68 '火星の極低温ロケットエンジン
    #LOC_CryoEngines_cryoengine-375-1_description = 当社が入手可能な最大の水素燃料エンジン。私たちは大きなものを注文することはできません、彼らはただ目を転がして息を呑むだけです。
    #LOC_CryoEngines_cryoengine-375-1_tags = プロペラロケットは水素ハイドロリックスクライオを維持する
    #LOC_CryoEngines_cryoengine-375-2_title = CT65 'ユカタン'極低温ロケットエンジン
    #LOC_CryoEngines_cryoengine-375-2_description = 強力で経済的な上段エンジンであるCt65は、人口の多い地域、動物園、特に鳥類の爬虫類の展示品の近くでは使用できません。
    #LOC_CryoEngines_cryoengine-375-2_tags = 軌道推進ロケット真空水素ハイドロリックスクライオ

  }
}
